body {
    background: #eee;
    margin: 0 auto;
    text-align: center;
}

#folders a, #files a, #stop {
    margin: 1em;
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 10px;
    color: #000;
    text-shadow: 0 0 1px #fff;
    display: inline-block;
}

#folders a {
    background: #ccd;
}

#files a {
    background: #cdc;
}

#stop {
    display: none;
    background: #dcc;
}

#folders a:hover, #files a:hover, #stop:hover {
    background: #eee;
    cursor: pointer;
}
